@import '../../styles/global.styles';

.landing {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.image {
  grid-column: 2 / -1;
  grid-row: 1 / -1;

  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../../assets/landing_one.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (max-width: 500px) {
  .landing {
    height: 30vh;
  }

  .image {
    grid-column: 3 / -1;
  }
}