@import '../../styles/global.styles';

// CART SECTION
.cart {
  position: absolute;
  z-index: 5;
  right: 0; 
  width: 75%;
  // top: 13.75%;
  top: 13rem;
  min-height: 40%;
  max-height: 50%;
  background: $white;
  opacity: .95;

  display: flex;
  flex-direction: column;

  border-top: 1px solid lighten($lightgrey, 5%);


  .title {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: $primary-font;
    letter-spacing: 1px;
  }

  .items {
    padding: 1rem;
    overflow: auto;

    .emptyMessage {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: auto;
      font-size: 1.5rem;
      color: $grey;
    }
  }

  .totals {
    margin-top: auto;
    font-size: 1.4rem;
    padding: 1.5rem 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $primary-font;

    .quantity {

    }

    .price {

    }
  }

  button {
    margin-top: auto;
    color: $secondary-color;
    
    &:hover {
      background: $secondary-color;
      color: $black;
      border: none;
    }
  }
  
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .cart {
    // top: 5.75rem;
    top: 8rem;
    min-height: 35%;
    max-height: 45%;
    width: 35%;
  }

  .totals {
    font-size: 1.5rem;
  }
}

// 800px MEDIA QUERY
@media screen and (min-width: 800px) {
  .cart {
    width: 25%;
  }
}

// 1600px MEDIA QUERY
@media screen and (min-width: 1600px) {
  .cart {
    width: 20%;
  }
}

// 1800px MEDIA QUERY
@media screen and (min-width: 1800px) {
  .cart {
    width: 15%;
    right: 29.5rem;
  }
}