@import '../../styles/global.styles';

.homepage {
  background: $grey;
  border-bottom: 1px solid $lightgrey;

  height: 40vh; 
  
  // width: 1200px;
  // position: absolute;
  // top: 0;
  // z-index: -1;

  // background-image: url('../../assets/keyboard_one.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}