@import '../../styles/global.styles';

.button {
  min-width: 165px;
  width: auto;
  height: 4rem;
  letter-spacing: 0.25px;
  line-height: 50px;
  font-size: 12px;
  background-color: $black;
  color: $white;
  border: none;
  text-transform: uppercase;
  font-family: $primary-font;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    border: 1px solid $black;
    background: $white;
    color: $black;
  }

  &.google {
    background: #4285F4;
    color: $white;
    border: none;
    
    &:hover {
      background: $white;
      color: #4285F4;
      border: 1px solid #4285F4;
    }
  }

  &.inverted {
    background: $white;
    color: $black;
    border: 1px solid $black;
    
    &:hover {
      border: none;
      background: $black;
      color: $white;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (max-width: 500px) {
  .button {
    width: auto;
    font-size: 1.2rem;
  }
}