// GLOBAL COLOR VARIABLES
$primary-color: salmon;
$primary-color-light: lightsalmon;
$secondary-color: goldenrod;
$secondary-color-light: lightyellow;
$tertiary-color: #385574;
$off-white: #ECE9E0; 

$black: black;
$white: white;
$grey: grey;
$lightgrey: lightgrey;

// GLOBAL FONT VARIABLES
$primary-font: 'Cabin', Helvetica, 'Ariel', sans-serif;
$secondary-font: 'Open Sans', Helvetica, 'Ariel', sans-serif;
$title-font: 'Permanent Marker', cursive;
$source-sans-font: 'Source Sans Pro', Helvetica, 'Ariel', sans-serif;
$raleway-font: 'Raleway', Helvetica, 'Ariel', sans-serif;

// GLOBAL MEASUREMENT VARIABLES
$page-columns: 10rem repeat(8, 1fr) 10rem;
$page-rows: repeat(4, 1fr);