@import '../../styles/global.styles';

.checkoutItem {
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;

  border-top: 1px solid lighten($lightgrey, 7%);
  border-bottom: 1px solid lighten($lightgrey, 7%);
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

// PRODUCT CONTAINER SECTION
.productContainer {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 30% 70%;

  // IMAGE SECTION
  .image {
    grid-column: 1 / 2;
    width: 100%;
    padding-right: 0.5rem;
  }

  // PRODUCT SECTION
  .product {
    grid-column: 2 / 3;
    font-size: 1.3rem;
    padding-left: 0.5rem;
  }
}

// PRICE SECTION
.price {
  grid-column: 2 / 3;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  // justify-content: flex-start;
}

// QUANTITY CONTAINER SECTION
.quantityContainer {
  font-size: 1.3rem;
  text-align: center;
  grid-column: 3 / 4;

  display: flex;
  align-items: center;
  justify-content: center;

  .remove {
    font-size: 1.5rem;
    font-weight: bolder;
    color: $secondary-color;
    cursor: pointer;
  }

  .quantity {
    margin: 0 1rem;
  }

  .add {
    font-size: 1.5rem;
    font-weight: bolder;
    color: $secondary-color;
    cursor: pointer;
  }
}

// TOTAL PRICE
.totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 1.3rem;
  text-align: right;

}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  
}