@import '../../styles/global.styles';

@mixin shrinkLabel {
  top: -20px;
  font-size: 12px;
  color: $black;
}

.group {
  position: relative;
  margin: 40px 0 30px 0;

  .forminput {
    background: none;
    background-color: white;
    color: $black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lighten($secondary-color, 15%);
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .formInputLabel {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .formInputLabel {
    color: $grey;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 400ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 500px) {

}