@import '../../styles/global.styles';

.cartItem {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 0.5rem;

  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;

  padding: 0.5rem 0.5rem;
  margin-bottom: 0.2rem;
}

// IMAGE SECTION
.image {
  width: 100%;
  margin: auto 0;
}

// ITEM SECTION
.item {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  .title {
    grid-row: 1 / 2;
    font-size: 1.4rem;
    font-family: $primary-font;
  }

  .subtitle {
    grid-row: 2 / 3;
    font-size: 1.1rem;
    color: $secondary-color;
    font-style: italic;
  }

  .totalsContainer {
    grid-row: 3 / 4;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    
    .totals {
      letter-spacing: 0.5px;

      .totalsMultiplier {
        color: $grey;
        font-size: 0.8rem;
      }
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;

      .add {
        margin-left: 0.5rem;
        
        &:hover {
          color: $secondary-color;
        }
      }

      .remove {
        margin-left: 0.5rem;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

}

// MEDIA QUERIES
@media screen and (max-width: 500px) {
  // CART ITEM
  .cartItem {

    .item {
      .title {
        display: flex;
      }

      .subtitle {
        display: flex;
      }
    }

    .totalsContainer {
      .totals {
        .totalsMultiplier {
          color: $grey;
          font-size: 0.8rem;
        }
      }
      
      .buttons {
        font-size: 1.1rem;
      }
    }
  }

}